#offerbook{
    display: flex;
    flex-direction: row;
    background: #fffae3;
    /* background-color: #f39f86;
    background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%); */
    /* background-color: #4062bb;
    background-image: linear-gradient(315deg, #4062bb 0%, #ebebeb 74%); */
    
    height: 20%;
    width: 80%;
    margin: 1%;
    margin-top: 0%;
 
    /* border: 1px solid green; */
    border-radius: 5px;
    box-shadow:0px 2px 2px 2px rgb(201, 201, 201);
    margin-left: 1%;
    padding: 1%;
    transition: all 0.7s linear;
	-webkit-transition: all 0.7s linear;
	-moz-transition: all 0.7s linear;
	-o-transition: all 0.7s linear;
	-ms-transition: all 0.7s linear;
}

#bookimg{
    width: 20%;
}

#Btitle{
    width: 70%;
    
    padding-left: 8%;
    

}

#offer{
    animation: blinkingText 1s infinite;
}
@keyframes blinkingText{
    0%{		color: transparent;	}
    15%{    color: transparent; }
	35%{	color: green;	  }
	50%{	color: green;	  }
	99%{	color:green;	  }
	100%{	color: transparent;	}
}



#offerText{
    font-size: 13px;
    cursor: pointer;
}
#offerText:hover{
    color: #3979ad;
}


#applycoupon{
    /* padding: 6%; */
    margin-top: 0%; 
 
}

#couponbox{
    display: flex;
    flex-direction: column;
}
#coduntick{
    font-weight: bold;
    color:#0070e7 ;
}
#precoduntick{
    font-weight: bold;
    color: #0070e7;
   
}



#maincartdiv{
    /* background:#f3f7f8; */
    /* margin-top: 8%; */
  
}
#cartBookinfoD{
    background: white;
}
#rightAddess{
    background: white;

}
#Paymentdiv{
    background: white;

}

#ribbon_out_stock{
    background: linear-gradient(45deg, #81dbfb 0%, #0067c5 100%);
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 3px 0px;
    margin: 0px;
    border-radius: 3px;
}


#showOutOfStockSpan{
    background-color: rgba(255, 255, 255, .7);
  
   }
   #showOutOfStock{
    color: red;
    font-weight: bold;
    font-size: 100%;
    opacity: 1;
    position: absolute;
    text-align: center;
    /* margin-left: 25%; */
    /* margin-top: 5%; */
    /* width: 54%; */
    background-color: rgba(255, 255, 255, .9);
    min-height: 5%;
    padding: 1%;
   }

   .outofStockdiv{
    position: absolute;
    /* margin-top: 2%; */
    margin-left: 6%;
    color: red;
    z-index: 9;
    width: 25%;
    font-weight: bold;
    padding: 1%;
    font-size: 15px;
   }
   #codPopupndiv {
    /* style={{textAlign: 'center',fontSize:'75%' }}  */
    /* text-align: center; */
    font-size: 1rem;
     padding: 1%;

   }
   #codPopupndiv p{
       /* margin-bottom: 0.5rem; */
   }
   

   .walletRecharge{
       padding:0.5rem 0.5rem;
       margin:1rem 0rem;
       border-radius: 5px;
       background-color: #f7f7f7;
       /*border:1px solid blue;
       */display: flex;
       justify-content: space-between;
       -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
       -ms-border-radius: 5px;
       -o-border-radius: 5px;
}

   .balanceText{
    padding-left: 5px;
    font-size: 0.9rem;
   }
   .CodDialog{
   
   }

.PaymentSummary_titile{
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
    text-align: center;
    background-color: white;
    margin-top: 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.payment_detail_div{
    background-color: white;
    padding: 1rem 0.5rem;
    margin: 0.2rem 0rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.Checkbox_div{
    background-color: #f7f7f7;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.payment_continue{
    margin-top: 1rem ;
    align-items: center;
    text-align: center;
}

.finalPayment_div{
    background-color: white;
    padding: 1rem 0.5rem;
    margin: 0.2rem 0rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 0.9rem;
}

.Payment_Breakup{
    padding:0.5rem;
    font-size: 0.9rem;
}
.select_payment{
    display: flex;
    border: 1px solid lightgray;
    margin:0.5rem 0rem;
}
.select_payment_mobile{
    display: none;
}
.payment_type_mode{
    border-right:1px solid lightgray;
    
    padding: 0rem 1rem;
}
.selected_mode{
    /* border: 1px solid purple; */
    width: 100%;
    display: flex;
}
.each_button{
    border:1px solid lightgrey;
    width:10rem;
    height: fit-content;
    margin: 1rem 1rem;
    padding:0.3rem 1rem;
 
}
.each_button_active{
    border: 1px solid #0070e7;
}
.cod_paytype{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 1rem;
    color: gray;
    font-size: 0.9rem;
}
@media screen and (min-width:992px)  {

    *{
        /* font-family: Lato,sans-serif; */
    }
    #maincartdiv{
        /* border: 1px solid red; */
        /* margin-top: 8%; */
        padding: 0rem 1rem;
        padding-bottom: 3rem;
        display: flex;
        flex-direction: row;
    }
    #carttitle{
        /* border:1px solid purple;  */
        /* margin-bottom: -2%;    */

    }
    #mycart{
        /* width: 80%; */
        color: #002e45;

        /* border:2px solid rgb(99, 255, 99); */
        border-radius: 5px 5px 0px 0px;
        background: white;
        /* box-shadow:0px 2px 2px 2px rgb(201, 201, 201); */
        padding: 0.8rem;
        /* margin-left: 1%;     */
        text-align: center;
        font-size: 1.3rem;
        font-weight: bold;
      
    }

    #MainleftCart{
        /* border: 2px solid blue; */
        width: 40%;

        /* background-color: gray; */
    }
    
    #cartBookinfoD{
        /* border: 2px solid green; */
        font-size: 0.9rem;
        display:flex;
        /* width: 80%; */
        margin:0.5rem 0rem;
        padding: 1rem;
        border-radius: 5px;
        /* box-shadow:0px 2px 2px 2px rgb(201, 201, 201); */
   

    }
    #ribbonn{
        /* display: none; */
        width:100px;
        height: 100px;
        /* float: right; */
        /* background-color: #eac; */
        /* float: right; */
        /* right: 50px; */
        position: absolute;
        /* top:100px; */
        overflow: hidden;
    
    }
    #ribbonn #ribbonnspan{
        width: 100px;
       padding: 3px 0px;
       background-color: #002e45;
       display: block;
       position: relative;
       top: 10px;
       left:-28px;
       transform: rotate(-45deg);
       text-align: center;
       color: #fff;
       font-size: 10px;
       /* text-shadow: 2px 2px #888 ; */
       text-transform: uppercase; 
       /* font-size: 1vw; */ 
   }
   
   #ribbonnSpanNew{
    width: 100px;
    padding: 3px 0px;
    background-color: #e26127;
    display: block;
    position: relative;
    top: 10px;
    left:-28px;
    transform: rotate(-45deg);
    text-align: center;
    color: #fff;
    font-size: 10px;
    /* text-shadow: 2px 2px #888 ; */
    text-transform: uppercase; 

}


    #cartbookimg{
        /* min-height: 175px; */
        width: 5rem;
        height: 7rem;
        /* padding: 1rem; */
        /* border: 1px solid palevioletred; */
        /* box-shadow: 1px 1px 1px 1px rgb(240, 240, 240); */
    }

    #leftDetails{
        /* border: 1px solid purple; */
        width: 100%;
        margin:0rem 1rem;
        /* float: right; */
    }
    #Bookinfopart1{
        /* border: 3px solid black; */
        width: 100%;
        /* border:2px solid green; */
      
    }

    #cartBookTitleP{
    
        font-weight: bold;
        /* font-size: 1.2vw; */
        color: #002e45;
    }

 
    #cartBookpriceS{
        /* font-weight: bold;
        font-family: Lato,sans-serif; */

    }
    #cartBookShippingS{
        /* font-weight: bold; */
   
        /* color: #e26127; */
    }
    #deliveryCost{
        /* font-weight: bold; */
        /* color: #e26127; */
    }
    #Bookinfopart2{
        /* border:3px solid brown; */
        display: flex;
        flex-direction: row;
    }

    #offerdiv{
        /* border:2px solid blue; */
        width:150px;
    }

    #rightpartCart{
        width:60%;
        margin:1rem 1rem;
        margin-right: 0rem;
        /* border:2px solid purple; */
    }
    #removecartbtn{
        text-align: right;

        
    }
    #removecartbtn #cartDelete{
        /* background: #e26127; */
        /* color: white; */
       
        margin-top: 1%;
        /* box-shadow: 0px 2px 5px #888; */
      
    }
    #btnDiscount{
        margin: 2%;
    }
    #btncashback{
        margin: 2%;

    }
    #totalQty{
        padding: 1%;
    }
    #offersbtn{
        padding: 1%;
        border:0px;
        color: #e26127;
        font-weight: bold;
        outline: none;
        background: white;
        border-radius: 5px;
    }

    #selectofferbtn{
        border:2px solid green;
        color: white;
        font-weight: bold;
        outline: none;
        font-size: 12px;
        background: green;
        border-radius: 5px;
    }

    #UnSelectoffetbtn{
        border:2px solid green;
        color: green;
        font-weight: bold;
        outline: none;
        font-size: 12px;
        background: white;
        border-radius: 5px;

    }


    #cartDelete{
        /* border:2px solid #e26127; */
        padding: 1%;
        /* background: #e26127; */
        font-size: 0.9rem;
        /* box-shadow: 0px 2px 5px #888; */
        /* color: white; */
    }

    #paytitles{
        /* border:1px solid green; */
        margin-top: -2%;

    }
    #paymentp{
        /* width: 98%; */
        border-radius: 5px 5px 0px 0px;
        background: white;
        /* box-shadow:0px 2px 2px 2px rgb(201, 201, 201); */
        padding: 0.8rem;
        /* margin-left: 1%; */
        color: #002e45;
        text-align: center;
        font-size: 1.3rem;
        font-weight: bold;
     
    }
    #rightAddess{
        /* border:1px solid gold; */
        /* margin: 1%; */
        /* margin-bottom: 20px; */
        /* box-shadow: 0px 2px 5px #888; */
        /* width: 98%; */
        margin-top: 0.5rem;
        padding:1rem;
        border-radius: 5px;
        align-items: center;
        display: flex;
        flex-direction: row;
    
    }

    #addressmsg{
        font-size: 1rem;
        font-weight: bold;
        color: gray;
        margin-left: 5%;
    }
    #PayAddress{
        margin-left: 20px;
        font-size: 0.9rem;
    }

      #PayAddress > p{
        margin:0px
    }
    #WalletCart{
        font-size: 15px;
    }

    #WalletCart .fas fa-wallet{
        color: #002e45;
    }

    #addbtn{
        /* background-color: #e26127; */
        /* box-shadow: 0px 2px 5px #888 ; */
        /* border: 1px solid #e26127; */
        /* margin-bottom: 2%;
        margin-top: 2%; */
        border-radius: 5px ;
        padding: 1%;
        font-size: 0.8rem;
        /* width: 200px; */
        font-size: 0.8rem;
        /* color: white; */
        /* font-weight: bold; */
        /* font-family: Lato,sans-serif; */
        outline: none;
    }
    #CartWalletAdd{
        /* margin-left: 120px; */
    }
    #Paymentdiv{
        /* border:1px solid brown; */
        /* box-shadow: 0px 2px 5px #888; */
        padding: 0.5rem;
        margin: 0.5rem 0rem;
        /* width:98%; */
        border-radius: 5px;
    }
    #cartRfirstP{
        color: #002e45;
        font-weight: bold;
        font-size: 1.1rem;
        padding: 0.5rem;
        text-align: center;
        border-bottom: 2px solid #ccc;
    }

    #cartRfirstP .far{
        margin-right: 2%;
    }

    #cartShowWallet{
        /* border:2px solid green; */
        padding: 1rem;
        margin:1rem 0rem;
        font-size: 1rem;
     background-color: #f7f7f7;   
        border-radius: 5px;
    }
    .WalletCartdiv{
         
    }

    .WalletCartdiv #walletinner{
        border:5px solid purple;
        width: 70%;
 
    }

    .WalletCartdiv #CartWalletAdd{
        /* border:5px solid blue; */
        width: 30%;
        /* font-size: 4vw; */
        float: right;
        /* margin-top: -65px; */

        /* float: right; */
    }

    #cartShowWallet i{
        margin-left: 3%;
        
    }
    #walletac{
        color: green;
    }
    #walletcartbalance{
        font-weight: bold;
    }
    #newbookqyt{
        font-size: 12px;
        color: green;
        font-weight: bold;
        padding-top: -3%;
        margin-bottom: 8%;
        margin-left: 2%;
    }
    #bookCoin0{
        /* margin-bottom: 2%; */
        font-size: 0.9rem;
        /* margin-top: 4%; */
    }
    #bookCoin0 img{
        margin-left: 1%;
    }  
    
    #bookCoint{
        color: green;
        font-size: 0.9rem;
      
    }
    
    #bookCoint img{
        margin-left: 1%;
    }

    #bookcoinbal{
        color: green;
        
    }
    #redeem{
        font-size: 10px;
        color: green;
        position: absolute;
        margin-top: 20px;
        font-weight: bold;
        margin-left: -2%;
    }
    #CartWalletAdd a{
        /* background-color: #e26127; */
        /* border-radius: 5px; */
        /* padding: 5%; */
        /* margin-top: 2%; */
        /* font-size: 15px; */
        /* box-shadow: 0px 2px 5px #888; */
        /* cursor: pointer; */
        /* color: white; */
        /* font-family: Lato,sans-serif;   */
       
        
    }
     #CartWalletAdd a:hover{
        /* text-decoration: none; */
        /* font-weight: bold; */

    }
    #donbook{
        font-size: 12px;
        color: green;
        font-weight: bold;
        padding-top: -3%;
        margin-bottom: 8%;
        margin-left: 2%;
    }
    #delcharge{
        font-size: 12px;
        color: green;
        padding-top: -3%;
        margin-bottom: 8%;
        margin-left: 2%;
        font-weight: bold;
    }
    #ShippingPricediv{
        /* color: #e26127; */
        /* font-weight: bold; */
    }
    #codchargePrice{
        /* color: #e26127; */
        /* font-weight: bold; */

    }
    #totalsaveing{
        margin:0.5rem 0rem;
           background: #e8f3ff;
    color: #007bff;
        border-radius: 5px;
        font-size: 0.9rem;
        text-align: center;
    }
   #Totalpricediv{
    /* color: #e26127; */
    font-weight: bold;
   

   }
   #dwalletbalance{
    /* color: #e26127; */
    font-weight: bold;
    
   }
   #paymentmode{
       /* border-top: 1px solid #002e45; */
       text-align: center;
       color: #002e45;
       font-weight: bold;
       font-size: 18px;
   }

   #CartPayType{
       /* border-top: 2px solid #002e45; */
       text-decoration: none;
       list-style: none;
       /* display: flex; */
       flex-direction: row;
      
   }
   #paymenttype{
       /* margin-left:100px; */
   }
    #cartRlistD{
        /* height: 16px; */
    }
   #cartRlistD  td{
       /* border:1px solid red; */
       width:20rem;
   }
   #cashextra{
    /* box-shadow: 0px 2px 5px #888; */
    background: rgb(236, 235, 235);
    font-family: 'Open Sans', Arial, Helvetica;
    /* border-radius: 5px; */
    padding: 2%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: -2%;
   width: 100%;
}
   #deliveredBy{
       text-align: center;
       margin: 2%;
   }
   #proceedpay{
    text-align: center;
    
}
#proceedpay #proceedToPayBtn{
    position: relative;
     /* background: #e26127; */
     /* border: 2px solid #e26127; */
     /* box-shadow: 0px 1px 7px #888 ; */
     /* color: white; */
     padding: 1%;
     /* border-radius: 5px; */
     outline: none;
     margin-top: 2%;
     margin-bottom: 2%;
 }
 #proceedpay #Dis_proceedToPayBtn {
    /* background: #f8b394; */
  
    /* border: 2px solid #f8b394; */
    /* box-shadow: 0px 1px 7px #888 ; */
    /* color: white; */
    padding: 1%;
    /* border-radius: 5px; */
    outline: none;
    margin-top: 2%;

    margin-bottom: 2%;

   }
   #cartRfirst{
    /* margin-left: 3%; */
    padding: 0.5rem;
    font-size: 0.9rem;
   
}

   #proceedpay{
       text-align: center;
       
   }
   #proceedpay #proceedToPayBtn{
       /* background: #e26127;
       border: 2px solid #e26127;
       box-shadow: 0px 1px 7px #888 ;
       color: white; */
       padding: 1%;
       border-radius: 5px;
       outline: none;
   }

   #proceedpay #Dis_proceedToPayBtn {
    /* background: #f8b394;
  
    border: 2px solid #f8b394;
    box-shadow: 0px 1px 7px #888 ;
    color: white; */
    padding: 1%;
    border-radius: 5px;
    outline: none;
   }



   #codConfirmBtn{
       text-align: center;
       margin: 1%;
    /* background: #e26127;
    border: 2px solid #e26127;
    box-shadow: 0px 1px 7px #888 ;
    color: white; */
    padding: 1%;
    border-radius: 5px;
    outline: none;

   }
}

@media screen and (max-width:991px) and (min-width:539px){

    #offerbook{
        display: flex;
        flex-direction: row;
        background: #fffae3;
        /* background-color: #f39f86;
        background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%); */
        /* background-color: #4062bb;
        background-image: linear-gradient(315deg, #4062bb 0%, #ebebeb 74%); */
        
        height: 20%;
        width: 98%;
        margin: 1%;
       
        /* border: 1px solid green; */
        border-radius: 5px;
        box-shadow:0px 2px 2px 2px rgb(201, 201, 201);
        margin-left: 1%;
        padding: 1%;
        transition: all 0.7s linear;
        -webkit-transition: all 0.7s linear;
        -moz-transition: all 0.7s linear;
        -o-transition: all 0.7s linear;
        -ms-transition: all 0.7s linear;
    }
    #maincartdiv{
        /* border: 1px solid red; */
        /* margin-top: -10%; */
        padding: 1%;
        display: flex;
        flex-direction: column-reverse;
    }
    #carttitle{
        /* border:1px solid purple; */
       
        margin-bottom: -2%;   

    }
    #mycart{  
        color: #002e45;
        margin: 1rem 0rem;
        /* border:2px solid green; */
        border-radius: 5px 5px 0px 0px;
        background: white;
        /* box-shadow:0px 2px 2px 2px rgb(201, 201, 201); */
        padding: 0.8rem;
        /* margin-left: 1%; */
        text-align: center;
        font-size: 1.3rem;
        font-weight: bold;
      
    }

    #MainleftCart{
        /* border: 2px solid blue; */
        width: 100%;

        /* background-color: gray; */
    }
    
    #cartBookinfoD{
        /* border: 2px solid green; */
  font-size: 0.9rem;
        display:flex;
        /* width: 80%; */
        margin:0.5rem 0rem;
        padding: 1rem;
        border-radius: 5px;
    }
    #ribbonn{
        width:100px;
        height: 100px;
        /* float: right; */
        /* background-color: #eac; */
        /* float: right; */
        /* right: 50px; */
        position: absolute;
        /* top:100px; */
        overflow: hidden;
    
    }
    #ribbonn #ribbonnspan{
         width: 100px;
        padding: 3px 0px;
        background-color: #002e45;
        display: block;
        position: relative;
        top: 10px;
        left:-28px;
        transform: rotate(-45deg);
        text-align: center;
        color: #fff;
        font-size: 10px;
        /* text-shadow: 2px 2px #888 ; */
        text-transform: uppercase; 
        /* font-size: 1vw; */ 
    }


    #ribbonnSpanNew{
        width: 100px;
        padding: 3px 0px;
        background-color: #e26127;
        display: block;
        position: relative;
        top: 10px;
        left:-28px;
        transform: rotate(-45deg);
        text-align: center;
        color: #fff;
        font-size: 10px;
        /* text-shadow: 2px 2px #888 ; */
        text-transform: uppercase; 

    }

    #cartbookimg{
      width: 3rem;
        height: 8rem;
    }

    #leftDetails{
    width: 100%;
        margin:0rem 1rem;
    }
    #Bookinfo1{
        /* border: 3px solid yellow; */
        width: 100%;
        
    }

    #cartBookTitleP{
        
  font-weight: bold;
        /* font-size: 1.2vw; */
        color: #002e45;
    }

 
    #cartBookpriceS{
        /* font-size: 3vw;

        font-weight: bold;
        font-family: Lato,sans-serif; */

    }
    #cartBookCondP{
        /* font-size: 12px; */

    }
    #cartBookShippingS{
        /* font-size:3vw;

        font-weight: bold;
        font-family: Lato,sans-serif; */
        /* color: #e26127; */
    }
    #deliveryCost{
        /* font-size: 3vw; */

        /* font-weight: bold; */
        /* font-family: Lato,sans-serif; */
        /* color: #e26127; */
    }

    #yousaved{
        color:green;
        /* font-family: Lato,sans-serif; */
        font-size: 0.9rem;
        font-weight: bold;
        
    }
    #Bookinfo2{
        /* border:3px solid red; */
        display: flex;
        flex-direction: row;
        /* margin-bottom: 5%; */

    
    }
    #offerdiv{
        /* border:2px solid blue; */
        width:250px;
    }
    #popupdiv{
        /* border:2px solid blue; */
        
    }

    #rightpartCart{
        width:100%;
        /* margin-top: 5%; */
       

        /* padding-left:2%; */
        /* border:2px solid purple; */
    }
    #removecartbtn{
       margin-left: 30%; 
        /* border:2px solid purple; */

    }
    #removecartbtn #cartDelete{
        /* background: #e26127;
        color: white; */
        font-size: 0.9rem;
        margin-top: 1%;
        /* box-shadow: 0px 2px 5px #888; */
      
    }
    #btnDiscount{
        margin: 2%;
    }
    #btncashback{
        margin: 2%;

    }
    #totalQty{
        padding: 1%;
    }
    #offersbtn{
        font-size: 3vw;
        padding: 1%;

        border:0px;
        color: #e26127;
        font-weight: bold;
        outline: none;
        background: white;
        border-radius: 5px;
    }

    #selectofferbtn{
        border:2px solid green;
        color: white;
        font-weight: bold;
        outline: none;
        font-size: 12px;
        background: green;
        border-radius: 5px;

    }
    #UnSelectoffetbtn{
        border:2px solid green;
        color: green;
        font-weight: bold;
        outline: none;
        font-size: 12px;
        background: white;
        border-radius: 5px;

    }

    #cartDelete{
        /* border:2px solid #e26127; */
        padding: 1%;
        color: #002e45;
    }

    #paytitles{
        /* border:1px solid green; */
        margin-top: 0%;

    }
    #paymentp{
        /* width: 98%; */
        border-radius: 5px 5px 0px 0px;
        background: white;
        /* box-shadow:0px 2px 2px 2px rgb(201, 201, 201); */
        padding: 0.8rem;
  
        color: #002e45;
        text-align: center;
        font-size: 1.3rem;
        font-weight: bold;
     
    }

    #rightAddess{
        font-size: 0.9rem;
      
        padding: 2%;
        border-radius: 5px;
        align-items: center;
        display: flex;
        flex-direction: row;
    
    }
    #addressmsg{
        font-size: 1rem;
        font-weight: bold;
        color: gray;
        margin-left: 3%;
    }

    #PayAddress{
        margin-left: 20px;
    }
     #PayAddress > p{
        margin:0px
    }


    
    #WalletCart{
        font-size: 15px;
    }

    #WalletCart .fas fa-wallet{
        color: #002e45;
    }


    #addbtn{
        /* background-color: #e26127;
        box-shadow: 0px 2px 5px #888 ;
        border: 1px solid #e26127; */
        /* margin-bottom: 2%;
        margin-top: 2%; */
        border-radius: 5px ;
        padding: 1%;
        /* width: 200px; */
        /* color: white; */
       
        outline: none;
    }

    #CartWalletAdd{
        margin-left: 120px;
    }
    #Paymentdiv{
        /* border:10px solid brown; */
        box-shadow: 0px 2px 5px #888;
        padding: 1%;
        margin: 1%;
        width:97.5%;
        border-radius: 5px;
    }
    #cartRfirstP{
        color: #002e45;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        border-bottom: 2px solid #002e45;
    }

    #cartRfirstP .far{
        margin-right: 2%;
    }
    #cartShowWallet{
        padding: 2%;
        margin-top: 10px;
        font-size: 13px;
        /* background: rgb(255, 236, 227); */
             background-color: #f7f7f7;
        margin-bottom: 2%;
        padding-bottom: 2%;
        border-radius: 5px;
    }
     .WalletCartdiv{
   
       
       
    }
    .WalletCartdiv #walletinner{
        /* border:5px solid purple; */
        width: 70%;
    }

    .WalletCartdiv #CartWalletAdd{
        /* border:5px solid blue; */
        width: 30%;
        font-size: 4vw;
        float: right;
        margin-top: -20px;
    
    

        /* float: right; */
    }
    
    #cartShowWallet i{
        margin-left: 3%;
        
    }
    #walletac{
        color: green;
    }
    #walletcartbalance{
        font-weight: bold;
    }
    #newbookqyt{
        font-size: 12px;
        color: green;
        font-weight: bold;
        padding-top: -3%;
        margin-bottom: 8%;
        margin-left: 2%;
    }
    #bookCoin0{
        margin-bottom: 2%;
        font-size: 13px;
        margin-top: 4%;
    }
 
    #bookCoin0 img{
        margin-left: 1%;
    }
    #bookCoint{
        color: green;
        margin-bottom: 2%;
        font-size: 13px;
        margin-top: 4%;
    }

    #bookCoint img{
        margin-left: 1%;
    }
    #bookcoinbal{
        color: green;
        
    }
    #redeem{
        font-size: 10px;
        color: green;
        position: absolute;
        margin-top: 4%;
        font-weight: bold;
        margin-left: -8%;
    }
    #CartWalletAdd a{
    
        background-color: #e26127;
        font-size: 15px;
        border-radius: 5px;
        padding: 5%;
        /* margin-top: 2%; */
        box-shadow: 0px 2px 5px #888;
        cursor: pointer;
        color: white;
        font-family: Lato,sans-serif;     
    }

    #donbook{
        font-size: 12px;
        color: green;
        font-weight: bold;
        padding-top: -3%;
        margin-bottom: 8%;
        margin-left: 2%;
    }

    #delcharge{
        font-size: 12px;
        color: green;
        padding-top: -3%;
        margin-bottom: 8%;
        margin-left: 2%;
        font-weight: bold;
    }
     #CartWalletAdd a:hover{
        text-decoration: none;
        font-weight: bold;

    }

    #ShippingPricediv{
        /* color: #e26127; */
        /* font-weight: bold; */
    }
    #codchargePrice{
        /* color: #e26127; */
        /* font-weight: bold; */

    }
    #totalsaveing{
          margin:0.5rem 0rem;
           background: #e8f3ff;
    color: #007bff;
        border-radius: 5px;
        font-size: 0.9rem;
        text-align: center;
    }
   #Totalpricediv{
    /* color: #e26127; */
    font-weight: bold;
   

   }
   #dwalletbalance{
    /* color: #e26127; */
    font-weight: bold;
    
   }
   #paymentmode{
       border-top: 1px solid #002e45;
       text-align: center;
       color: #002e45;
       font-weight: bold;
       font-size: 18px;
   }

   #CartPayType{
       /* border-top: 2px solid #002e45; */
       text-decoration: none;
       list-style: none;
       display: flex;
       flex-direction: row;
       margin-left: 20%;
      
   }
   #paymenttype{
       margin-left:20px;
   }

   #cashextra{
       /* box-shadow: 0px 2px 5px #888; */
       background: rgb(236, 235, 235);
       font-family: 'Open Sans', Arial, Helvetica;
       /* border-radius: 5px; */
       padding: 2%;
       display: flex;
       flex-direction: column;
       overflow: hidden;
       margin-top: -2%;
      width: 100%;
   }

  #cartRfirst{
      padding: 0.5rem;
    font-size: 0.9rem;
  }
  #cartRlistD{
        /* height: 16px; */
    }

   #cartRlistD td{
       /* border:1px solid red; */
       width:210px;
   }

   #deliveredBy{
       text-align: center;
       margin: 2%;
   }

   #proceedpay{
       text-align: center;
       
   }
   #proceedpay #proceedToPayBtn{
      position: relative;
       /* background: #e26127;
       border: 2px solid #e26127;
       box-shadow: 0px 1px 7px #888 ;
       color: white; */
       padding: 1%;
       border-radius: 5px;
       outline: none;
       margin-top: 2%;
       margin-bottom: 2%;
   }

   #proceedpay #Dis_proceedToPayBtn {
    /* background: #f8b394;
  
    border: 2px solid #f8b394;
    box-shadow: 0px 1px 7px #888 ;
    color: white; */
    padding: 1%;
    border-radius: 5px;
    outline: none;
    margin-top: 2%;

    margin-bottom: 2%;

   }

   #codConfirmBtn{
       
    /* background: #e26127;
    border: 2px solid #e26127;
    box-shadow: 0px 1px 7px #888 ;
    color: white; */
    padding: 1%;
    border-radius: 5px;
    outline: none;

   }


}


@media screen and (max-width:538px){

    *{
        font-family: Lato,sans-serif;
    }

    #offerbook{
        display: flex;
        flex-direction: row;
        background: #fffae3;
        /* background-color: #f39f86;
        background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%); */
        /* background-color: #4062bb;
        background-image: linear-gradient(315deg, #4062bb 0%, #ebebeb 74%); */
        
        height: 20%;
        width: 98%;
        margin: 1%;
        margin-top: -4%;
        /* border: 1px solid green; */
        border-radius: 5px;
        box-shadow:0px 2px 2px 2px rgb(201, 201, 201);
        margin-left: 1%;
        padding: 1%;
        transition: all 0.7s linear;
        -webkit-transition: all 0.7s linear;
        -moz-transition: all 0.7s linear;
        -o-transition: all 0.7s linear;
        -ms-transition: all 0.7s linear;
    }
    
    #bookimg{
        width: 35%;
    }
    
    #Btitle{
        width: 60%;
        padding-left: 0%;      
    }

    #offerText{
        font-size: 12px;
        cursor: pointer;
    }

    #maincartdiv{
        /* border: 1px solid red; */
        margin-top: -1rem;
        padding: 1%;
        display: flex;
        flex-direction: column-reverse;
    }
    #carttitle{
        /* border:1px solid purple; */
       
        margin-bottom: -2%;   

    }
    #mycart{
        /* width: 97.5%; */
       
        color: #002e45;

        /* border:2px solid green; */
        border-radius: 5px 5px 0px 0px;
        background: white;
        /* box-shadow:0px 2px 2px 2px rgb(201, 201, 201); */
        padding: 0.8rem;
        /* margin-left: 1%; */
        text-align: center;
        font-size: 1.3rem;
        font-weight: bold;
      
    }
    #MainleftCart{
        /* border: 2px solid blue; */
        width: 100%;
        margin:1rem 0rem;

        /* background-color: gray; */
    }
    
    #cartBookinfoD{
        /* border: 2px solid green; */
        font-size: 0.9rem;
        display:flex;
        /* width: 80%; */
        margin:0.5rem 0rem;
        padding: 1rem;
        border-radius: 5px;
        /* min-height: 26vh;  */
    }
    #ribbonn{
        width:100px;
        height: 100px;
        /* float: right; */
        /* background-color: #eac; */
        /* float: right; */
        /* right: 50px; */
        position: absolute;
        /* top:100px; */
        overflow: hidden;
    
    }
    #ribbonn #ribbonnspan{
         width: 100px;
        padding: 3px 0px;
        background-color: #002e45;
        display: block;
        position: relative;
        top: 10px;
        left:-28px;
        transform: rotate(-45deg);
        text-align: center;
        color: #fff;
        font-size: 10px;
        /* text-shadow: 2px 2px #888 ; */
        text-transform: uppercase; 
        /* font-size: 1vw; */ 
    }


    #ribbonnSpanNew{
        width: 100px;
        padding: 3px 0px;
        background-color: #e26127;
        display: block;
        position: relative;
        top: 10px;
        left:-28px;
        transform: rotate(-45deg);
        text-align: center;
        color: #fff;
        font-size: 10px;
        /* text-shadow: 2px 2px #888 ; */
        text-transform: uppercase; 

    }

    #cartbookimg{
       width: 6rem;
        height: 7rem;
    }

    #leftDetails{
 width: 100%;
        margin:0rem 1rem;
    }
    #Bookinfo1{
        /* border: 3px solid yellow; */
        
        width: 100%;
        
    }

    #cartBookTitleP{
      font-weight: bold;
        /* font-size: 1.2vw; */
        color: #002e45;
    }

 
    #cartBookpriceS{
        /* font-size: 3vw;

        font-weight: bold;
        font-family: Lato,sans-serif; */

    }
    #cartBookCondP{
        /* font-size: 12px; */

    }
    #cartBookShippingS{
        /* font-size:3vw;

        font-weight: bold;
        font-family: Lato,sans-serif; */
        
    }
    #deliveryCost{
        /* font-size: 3vw;

       
        font-family: Lato,sans-serif; */
        
    }

    #yousaved{
        color:green;
        /* font-family: Lato,sans-serif; */
        /* font-size: 3vw; */
        /* font-weight: bold; */
        
    }
    #Bookinfo2{
        /* border:3px solid red; */
        display: flex;
        flex-direction: row;
        /* margin-bottom: 5%; */

    
    }
    #offerdiv{
        /* border:2px solid blue; */
        width:200px;
    }
    #popupdiv{
        /* border:2px solid blue; */
        
    }
  
    .select_payment{
        display: none;
    }
    .select_payment_mobile{
        display: flex;
        flex-direction: column;
    }
    .selected_mode{
justify-content: center;
    }

    #rightpartCart{
        width:100%;
        /* margin-top: 5%; */
       

        /* padding-left:2%; */
        /* border:2px solid purple; */
    }
    #removecartbtn{
        margin-top: 1%;
        margin-right: 45%;

       /* margin-left: 30%;  */
        /* border:2px solid purple; */

    }
    #removecartbtn #cartDelete{
        /* background: #e26127;
        color: white; */
        font-size: 0.9rem;
        margin-top: 1%;
        /* box-shadow: 0px 2px 5px #888; */
      
    }
    #btnDiscount{
        margin: 2%;
    }
    #btncashback{
        margin: 2%;

    }
    #totalQty{
        padding: 1%;
    }
    #offersbtn{
        font-size: 3vw;
        padding: 1%;
        /* box-shadow: 0px 2px 5px #888; */

        border:1px solid white;
        color: #e26127;
        font-weight: bold;
        outline: none;
        background: white;
        border-radius: 5px;
    }

    #selectofferbtn{
        border:2px solid green;
        color: white;
        font-weight: bold;
        outline: none;
        font-size: 12px;
        background: green;
        border-radius: 5px;

    }
    #UnSelectoffetbtn{
        border:2px solid green;
        color: green;
        font-weight: bold;
        outline: none;
        font-size: 12px;
        background: white;
        border-radius: 5px;

    }

    #cartDelete{
        /* border:2px solid #e26127; */
        padding: 1%;
        color: #002e45;
    }


    #paytitles{
        /* border:1px solid green;   */
        /* margin-top: 1%; */

    }
    #paymentp{
        /* width: 98%; */
        border-radius: 5px 5px 0px 0px;
        background: white;
        padding: 0.8rem;
        color: #002e45;
        text-align: center;
        font-size: 1.3rem;
        font-weight: bold;
     
    }
    #rightAddess{
   
        padding: 1rem;
        border-radius: 5px;
        align-items: center;
        display: flex;
        flex-direction: row;
    
    }
    #addressmsg{
        font-size: 0.9rem;
        font-weight: bold;
        color:gray;
        margin-left: 2%;
    }

    #PayAddress{
        margin-left: 20px;
        font-size: 0.9rem;
        
    }
     #PayAddress > p{
        margin:0px
    }


    
    #WalletCart{
        font-size: 15px;
    }

    #WalletCart .fas fa-wallet{
        color: #002e45;
    }


    #addbtn{
    
        border-radius: 5px ;
        padding: 1%;
        font-size: 0.7rem;
       
        outline: none;
    }

    #CartWalletAdd{
        margin-left: 120px;
    }
    #Paymentdiv{
        /* border:10px solid brown; */
        box-shadow: 0px 2px 5px #888;
        padding: 1%;
        margin: 1%;
        width:97.5%;
        border-radius: 5px;
    }
    #cartRfirstP{
        color: #002e45;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        border-bottom: 2px solid #002e45;
    }

    #cartRfirstP .far{
        margin-right: 2%;
    }
    #cartShowWallet{
        /* border:2px solid green; */
     
        padding: 2%;
        margin-top: 10px;
        font-size: 15px;
        /* background: rgb(255, 236, 227); */
             background-color: #f7f7f7;
        margin-bottom: 2%;
        padding-bottom: 2%;
        border-radius: 5px;
    }
     .WalletCartdiv{
      
       
       
    }
    .WalletCartdiv #walletinner{
        border:5px solid purple;
        width: 70%;
     
       
       

    }

    .WalletCartdiv #CartWalletAdd{
        border:5px solid blue;
        width: 30%;
        font-size: 4vw;
        float: right;
        margin-top: -20px;
    
    

        /* float: right; */
    }
    
    #cartShowWallet i{
        margin-left: 3%;
        
    }
    #walletac{
        color: green;
    }
    #walletcartbalance{
        font-weight: bold;
    }
    #newbookqyt{
        font-size: 12px;
        color: green;
        font-weight: bold;
        padding-top: -3%;
        margin-bottom: 8%;
        margin-left: 2%;
    }
    #bookCoin0{
        margin-bottom: 2%;
        font-size: 15px;
        margin-top: 4%;
    }
 
    #bookCoin0 img{
        margin-left: 1%;
    }
    #bookCoint{
        color: green;
        margin-bottom: 2%;
        font-size: 15px;
        margin-top: 4%;
    }

    #bookCoint img{
        margin-left: 1%;
    }
    #bookcoinbal{
        color: green;
        
    }
    #redeem{
        font-size: 10px;
        color: green;
        position: absolute;
        margin-top: 4%;
        font-weight: bold;
        margin-left: -8%;
    }
    #CartWalletAdd a{
    
        background-color: #e26127;
        border-radius: 5px;
        padding: 5%;
        font-size: 10px;
        margin-top: 2%;
        box-shadow: 0px 2px 5px #888;
        cursor: pointer;
        color: white;
        font-family: Lato,sans-serif;     
    }

    #donbook{
        font-size: 12px;
        color: green;
        font-weight: bold;
        padding-top: -3%;
        margin-bottom: 8%;
        margin-left: 2%;
    }

    #delcharge{
        font-size: 12px;
        color: green;
        padding-top: -3%;
        margin-bottom: 8%;
        margin-left: 2%;
        font-weight: bold;
    }
     #CartWalletAdd a:hover{
        text-decoration: none;
        font-weight: bold;

    }

    #ShippingPricediv{
        /* color: #e26127; */
        /* font-weight: bold; */
    }
    #codchargePrice{
        /* color: #e26127; */
        /* font-weight: bold; */

    }
    #totalsaveing{
          margin:0.5rem 0rem;
           background: #e8f3ff;
    color: #007bff;
        border-radius: 5px;
        font-size: 0.9rem;
        text-align: center;
    }
   #Totalpricediv{
    /* color: #e26127; */
    font-weight: bold;
   

   }
   #dwalletbalance{
    /* color: #e26127; */
    font-weight: bold;
    
   }
   #paymentmode{
       border-top: 1px solid #002e45;
       text-align: center;
       color: #002e45;
       font-weight: bold;
       font-size: 18px;
   }

   #CartPayType{
       /* border-top: 2px solid #002e45; */
       text-decoration: none;
       list-style: none;
       display: flex;
       flex-direction: row;
      
   }
   #paymenttype{
       margin-left:20px;
   }

   #cashextra{
       /* box-shadow: 0px 2px 5px #888; */
       background: rgb(236, 235, 235);
       font-family: 'Open Sans', Arial, Helvetica;
       /* border-radius: 5px; */
       padding: 2%;
       display: flex;
       flex-direction: column;
       overflow: hidden;
       margin-top: -2%;
      width: 100%;
   }

  #cartRfirst{
      padding: 0.5rem;
    font-size: 0.9rem;
  }
  #cartRlistD{
        /* height: 16px; */
    }
   #cartRlistD td{
       /* border:1px solid red; */
       width:210px;
   }

   #deliveredBy{
       text-align: center;
       margin: 2%;
       margin-top: 4%;
   }
   .paymode_prepaid{
       justify-content: center;
       /* color:#0070e7 */
   }
   .payment_continue{
           text-align: center;
      /* border: 1px solid black; */
      		box-shadow: 0 3px 16px 0 lightgray;
    position: fixed;
    bottom: 1px;
    width: 100%;
    padding: 0.5rem 0.5rem;
    left: 0px;
    background: white;

   }
   .payment_continue Button{
       width:90vw;
           font-size:1.2rem;
   }
   #proceedpay{
       text-align: center;
      /* border: 1px solid black; */
      		box-shadow: 0 3px 16px 0 lightgray;
    position: fixed;
    bottom: 1px;
    width: 100%;
    padding: 0.5rem 0.5rem;
    left: 0px;
    background: white;
      font-size:1.2rem;
       
   }
   #proceedpay #proceedToPayBtn{
      position: relative;
       /* background: #e26127;
       border: 2px solid #e26127;
       box-shadow: 0px 1px 7px #888 ;
       color: white; */
       /* padding: 1%; */
       border-radius: 5px;
       font-size: 1.1rem;
       width: 100%;
       outline: none;
       /* margin-top: 2%;
       margin-bottom: 2%; */
   }

   #proceedpay #Dis_proceedToPayBtn {
    /* background: #f8b394;
  
    border: 2px solid #f8b394;
    box-shadow: 0px 1px 7px #888 ; */
    color: white;
    padding: 1%;
    border-radius: 5px;
    outline: none;
    margin-top: 2%;

    margin-bottom: 2%;

   }

   #codConfirmBtn{
    /* background: #e26127;
    border: 2px solid #e26127;
    box-shadow: 0px 1px 7px #888 ;
    color: white; */
    padding: 1%;
    border-radius: 5px;
    outline: none;

   }


   #showOutOfStock{
    color: red;
    font-weight: bold;
    font-size: 75%;
    opacity: 1;
    position: absolute;
    text-align: center;
    /* margin-left: 25%; */
    /* margin-top: 3%; */
    width: 54%;
    background-color: rgba(255, 255, 255, .7);
    min-height: 5%;
    padding: 1%;
   }

}