.drawer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    transition: transform 0.3s ease-out;
    z-index: 999;
  }
  
  .drawer_content {
    background-color: #fff;
    width: 100%;
    height: 100%;
  }
  
  .drawer_paper {
    width: 100%;
    padding: 0.6rem 4px;
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    transition: opacity 0.3s ease-out;
    opacity: 0;
    pointer-events: none;
  }
  
  .drawer .open {
    transform: translateX(0%);
  }
  
  .drawer.open .backdrop {
    opacity: 1;
    pointer-events: auto;
  }
  