.main_div {
  /* box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); */
  max-width: 100%;
  overflow-x: hidden;
}

.h5 {
  /* white-space: nowrap; */
  color: #2258ae;
}

.first_sub_div_para {
  color: rgba(34, 88, 174, 0.8);
  font-weight: 400;
  font-size: 0.9rem;
}

.second_sub_div {
  text-align: center;
}

.second_sub_div_para {
  color: rgba(34, 88, 174, 0.8);
}

.second_sub_div_h5 {
  color: #2258ae;
}

.second_sub_div_button {
  color: #2258ae;
  cursor: pointer;
  border: 2px solid #2258ae;
}