@media screen and (max-width: 538px) {
    .ResetPasswordBody{
        margin-top: 10%;
        background-color:#fff;
    }
    .ResetPassForm{
        margin: 0% 0%;
        height: 33vh;
    }
    .ResetPassPart{
        border: 3px solid white;
        border-radius: 5px;
        box-shadow: 4px 4px 9px #0000003d;
    }
}


@media screen and (min-width: 538px) {
    .ResetPasswordBody{
        margin-top: 7%;
    }
.ResetPassPart{
    border: 3px solid white;
    background-color:#fff;
    margin: 0% 30%;
    border-radius: 5px;
    box-shadow: 4px 4px 9px #0000003d;
}
}
.ResetPasswordLayerOne p {
    margin-top: 5%;
    text-align: center;
    color: #2248ae;
    font-size: 1.5rem;
    border: none;
}
.ResetPassForm{

    margin: 0% 10%;
    height: 33vh;
}
.ResetPassForm .PasswordDiv{
    width: 100%;
    background-color: white;
    margin: 3.5% 0%;
    padding: .5%;
    border-radius: 4px;
}
.RPassword{
    border:none;
}
.ConfirmRPassword{
    border:none;
}
.ResetSubmitBtn{
    width: 60%;
    backGround-color: #2248ae;
    border:none;
    color: white;
    border-radius: 3px;
    font-weight: bold;
    padding: 2% 2% 2% 2%;
    margin: 3% 0% 0% 20%;

}
.PRSuccesMsg{
    text-align: center;
    margin-top: 15%;
    font-size: 150%;
}


/* -------------------------------Forget Pasword Div---------------------------- */

.MainLoginDiv {
    background: linear-gradient(90deg, #2157ad 0%, #6190da 100%);
  }
  .bannerImg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }
  .row {
    margin: 0%;
    padding: 0%;
  }
  .Leftpart {
    padding: 40px 33px;
    color: white;
    min-height: 72vh;
  }
  .left_heading {
    font-size: 1.3rem;
    font-weight: bold;
  }
  .mob_content {
    display: none;
    flex-direction: column;
  }
  .leftpart_lower {
    text-align: center;
  }
  .leftpart_lower p {
    padding: 0px;
    margin: 1px;
    font-size: 0.9rem;
  }
  .createbtn {
    border: 0px solid white;
    color: #0070e7;
    background: white;
    padding: 1% 3%;
    border-radius: 5px;
    outline: none;
  }
  .Rightpart {
    background: white;
  }
  .Login_form_div {
    padding: 0px 4%;
    padding-bottom: 0%;
  }
  .Login_feild {
    padding-top: 20px;
  }
  .other_login {
    padding-top: 10px;
  }
  .create_acount_text {
    padding: 15px;
    font-size: 0.9rem;
    text-align: center;
  }
  .text_span {
    color: #2258ae;
    font-weight: bold;
    cursor: pointer;
  }
  @media only screen and (max-width: 768px) {
    .Leftpart {
      padding: 20px 33px;
      padding-bottom: 0px;
    }
    .content {
      display: none;
    }
    .mob_content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .img_logo img {
      width: 20vw;
    }
    .mob_contentText {
      text-align: center;
      font-weight: bold;
      padding-top: 10px;
    }
    .left_heading {
      font-size: 1.5rem;
      font-weight: bold;
      padding: 0px;
      margin: 0px;
    }
    .left_heading p {
      margin: 0px;
    }
    .Leftpart {
      min-height: 5vh;
    }
    .Rightpart {
      border-radius: 20px 20px 0px 0px;
      height: 18rem;
    }
  }